*, *::before, *::after {
    box-sizing:border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


:root{
    --hue-neutral: 200;
    --hue-wrong:0;
    --hue-correct:145;
}

body{
    --hue: var(--hue-neutral);
    background-color: rgb(228, 195, 161);
}
  
nav{
   
    padding: 20px;
    font-size: 20px;
}


.container{
    width: 50%;
    margin-left: 260px;
   
 } 

 #func-container{
    background-color: white;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    text-justify: auto;
}

#start-btn{
    margin-bottom: 14px;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}
.btn:hover {
    border-color: black;
}

#timer-number{
    color: rgb(105, 3, 37);
}

#high-scores{

    float: left;







.hide{
    display: none
}
